<nav class="navbar">
  <div class="navbar-content">
    <h3 class="navbar__logo" [routerLink]="'/'">Lux<sup>UI</sup></h3>
    <ul class="navbar-nav">
      <li class="navbar-nav__element">
        <a [routerLink]="'/components'">Components</a>
      </li>
      <li class="navbar-nav__element">
        <a [routerLink]="'/templates'">Templates</a>
      </li>
      <li class="navbar-nav__element">
        <a [routerLink]="'/documentation'">Documentation</a>
      </li>
    </ul>
    <span class="navbar__menu-btn" (click)="toggleModal(true)">
      <img src="assets/menu.svg" alt="menu" />
    </span>
  </div>
</nav>
<app-rwd-menu
  (open)="toggleModal($event)"
  [openModal]="openModal"
></app-rwd-menu>
