<app-navbar></app-navbar>
<main>
  <div class="hero">
    <div class="hero__content">
      <span>LuxUI</span>
      <h1>Best Components for your project.</h1>
      <p>
        Over 500+ professionally designed, fully responsive, expertly crafted
        component examples you can drop into your Tailwind projects and
        customize to your heart’s content.
      </p>
      <div class="hero-action">
        <app-primary-button>Live Preview</app-primary-button>
        <app-primary-button>Documentation</app-primary-button>
      </div>
    </div>
    <div class="hero__image"></div>
  </div>
</main>
